include mixins

doctype html
html(lang="nb-no")
  head
    if pageTitle
      title #{pageTitle} | Blaugrana
    else
      title Blaugrana | Norske supportere av FC Barcelona
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-title" content="Blaugrana")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    meta(name="description" content="Norske supportere av FC Barcelona")
    meta(name="og:site_name" content="Blaugrana")
    meta(name="og:type" content="website")
    link(href="/img/favicon.svg" rel="icon")
    link(href="/img/favicon-32.png" rel="alternate icon")
    link(href="/img/favicon-180.png" rel="apple-touch-icon")
    link(href="/css/legacy.css" rel="stylesheet")
    link(href="/css/overrides.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")
  body
    header(class="bg-header")
      div(class="bg-header-container")
        a(class="bg-header-logo" href="/")
          | Blaugrana
        p(class="bg-header-tagline")
          | Norske supportere av FC Barcelona
    nav(class="bg-menu")
      div(class="bg-menu-container")
        ul(class="bg-menu-list")
          li(class="bg-menu-item")
            a(class="bg-menu-link" href="mailto:&#112;&#111;&#115;&#116;&#064;&#098;&#108;&#097;&#117;&#103;&#114;&#097;&#110;&#097;&#046;&#110;&#111;")
              | Kontakt oss
          li(class="bg-menu-item")
            a(class="bg-menu-link" href="/nyheter/30274/stott-oss")
              | Støtt oss
          li(class="bg-menu-item")
            a(class="bg-menu-link bg-menu-icon" href="https://facebook.com/blaugranano" target="_blank")
              != iconFacebook
          li(class="bg-menu-item")
            a(class="bg-menu-link bg-menu-icon" href="https://github.com/blaugranano" target="_blank")
              != iconGitHub
          li(class="bg-menu-item")
            a(class="bg-menu-link bg-menu-icon" href="https://instagram.com/blaugranano" target="_blank")
              != iconInstagram
          li(class="bg-menu-item")
            a(class="bg-menu-link bg-menu-icon" href="https://twitter.com/blaugranano" target="_blank")
              != iconTwitter
    main(class="bg-content")
      block content
