mixin postPreview(postData)
  if postData
    a(class="bg-preview" href=postData.post_slug)
      figure(class="bg-preview-image" style=`background-image: url(${postData.post_image})`)
      article(class="bg-preview-text")
        p(class="bg-preview-category")
          | #{postData.post_category}
        h2(class="bg-preview-title")
          | #{postData.post_title}
