extend layout

block content
  div(class="bg-post post")
    figure(class="bg-post-image" style=`background-image: url(${postData.post_image})`)
    article(class="bg-post-text")
      h1(class="bg-post-title")
        | #{postData.post_title}
      div(class="bg-post-content post-content")
        | !{postData.post_content}
